{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Smart-EST.{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'static/styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  </head>
  <body>
    
<header>
    <h1>🏠 SmartEst – Smart Estimator</h1>
    <div class="tagline">"Empowering Smart Decisions in Real Estate!"</div>
</header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'predict_price' %}">Predict Price</a></li>
        {% if user.is_authenticated %}
          <span>Welcome, {{ user.username }}</span>
          <a href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
      </nav>
      
      <div class="banner">
        <img src="{% static 'images/banner.jpg' %}" alt="Real estate banner">
    </div>

    <main>{% block content %} {% endblock %}</main>


    <section class="services">
        <h2>Our Services</h2>
        <ul>
            <li>Accurate ML-based House Price Prediction</li>
            <li>Real-time Market Analytics</li>
            <li>Trusted Seller Listings</li>
            <li>Location-wise Value Insights</li>
        </ul>
    </section>
    
    <footer>
        <div class="footer-content">
            <div>
                <h4>Contact Us</h4>
                <p>Email: support@smartest.com</p>
                <p>Phone: +91-987654****</p>
            </div>
            <div>
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
            <div>
                <h4>Our Location</h4>
                <iframe src="https://www.google.com/maps/embed?..." width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <p class="copyright">&copy; 2025 SmartEst. All rights reserved.</p>
    </footer>
    
  </body>
</html>
